body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #777777;
    background-color: coral;
}

h4 {
    color: #000;
    text-align: center;
}

.top h2 {
    color: blue;
    text-align: center;
}

.box {
    color: #000;
    margin-top: 20px;
}


/*-------------------Sticky footer styles------------------ */

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 50px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
}

.text-center {
    text-transform: uppercase;
    color: #000;
    letter-spacing: 0.1em;
    padding-top: 15px;
}

.text-green {
    color: grey;
}


/*-------------MEDIA QUERIES-------------*/


/* Custom, iPhone Retina */

@media only screen and (min-width: 320px) {}


/* Extra Small Devices, Phones */

@media only screen and (min-width: 480px) {}


/* Small Devices, Tablets */

@media only screen and (min-width: 768px) {}


/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) {}


/* Large Devices, Wide Screens */

@media only screen and (max-width: 1200px) {
    .text-green {
        color: green;
        margin-top: 20px;
    }
}